body {
    font-family: Arial, sans-serif;
    background-image: url();
    padding: 20px;
}

#markdown-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

h3{
    color: #666;
    text-align: right;
}

p {
    color: #666;
    line-height: 1.6;
}

ul {
    list-style-type: square;
    color: #666;
}